@keyframes start {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
body {
  box-sizing: border-box;
  background-color: purple;
  font-family: "Ubuntu", sans-serif;
  animation-name: start;
  animation-duration: 1s;
}
nav {
  margin: 2% 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav > h3 :hover {
  font-size: medium;
}
nav > h3 > a {
  text-decoration: none;
  color: white;
}
#title {
  color: gold;
}
#active {
  color: black;
}
@keyframes pop {
  0% {
    padding: 1%;
  }
  25% {
    padding: 2%;
  }
  50% {
    padding: 3%;
  }
  75% {
    padding: 4%;
  }
  100% {
    padding: 5%;
  }
}
form {
  display: flex;
  flex-direction: column;
  margin: 8% 30%;
  padding: 5%;
  border-radius: 50px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: pop;
  animation-duration: 0.5s;
}
form input {
  margin: 2%;
  padding: 2%;
}
form select {
  padding: 2%;
  margin: 2%;
}
.back {
  text-align: center;
  font-size: larger;
}
.back > a {
  text-decoration: none;
  color: gold;
}
